.studio { 
    background-image: url(../img/h_img.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    text-align: center;
    color: white;
    padding-top: 300px;
}
.click{
    padding: 100px;
}
.about{
    text-align: center;
    padding: 50px;
    font-weight: 20px;
}
.services {
    background-image: url(../img/s_image.jpg) ;
    height: auto;
    width: auto;    
    padding: 100px;
    text-align: center;
    color: white;
    font-weight: 20px;
}
.what {
    text-align: center;
    padding: 50px;

}
 .portfolio {
     text-align: center;
     padding: 50px;
 }   

.imagesPortfolio {
    height: 200px;
    width: auto;
    padding: 10px;
}
.contact {
    background-image: url(../img/c_image.jpg);
    height: 500px;
    width: auto;
    text-align: center;
    color: white;
    padding: 50px;
    background-size: cover;
}
.typo {
    background-color: rgba(0, 0, 0, 0);
}
.icons {
    text-align: center;
    padding: 30px;
    margin-right: 18px;
}
.last {
    text-align: center;
}
 .design {
    display: none;
}
.dev{
    display: none;
}
.product {
    display: none;
}
.work8,.work7 , .work6, .work5,.work4 ,.work3,.work2, .work1{
    display: none;
    background-color: white;
    font-size: 25px;
    color: black;
    opacity: 0.6;
    
}
