
.studio { 
    background-image: url(../img/h_img.jpg);
    background-size: cover;
    height: 500px;

}
.delani {
    padding-top: 50px ;
}
.services {
    background-image: url(../img/s_image.jpg) ;
    background-size: cover;
    height: 280px;
}
.column-md-3 {
    padding: 20px;
    margin: auto;
}